//style variables
$gitGray : #f5f5f5;
$gitDarkGray : #E5E5E5;
$gitBlue: #20486B;
$auto : auto;
$fontFam : Helvetica, arial, nimbussansl, liberat;

.navbar {
  background: $gitGray;
  border-bottom: 1px solid $gitDarkGray;
  border-radius: 0 0 0 0;
  padding-top: 9px;
  padding-left: 20px;
  img{
    height: 26px;
    width: 26px;
  }
}

.jumbotron {
  margin-top: -20px;
  text-align: center;
  blockquote {
    color: $gitBlue;
    font-family: $fontFam;
    font-size: 30px;
    line-height: 45px;
  }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#778799+0,c2cdd6+17,ffffd3+77,feffd1+100 */
background: rgb(119,135,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(119,135,153,1) 0%, rgba(194,205,214,1) 17%, rgba(255,255,211,1) 77%, rgba(254,255,209,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(119,135,153,1) 0%,rgba(194,205,214,1) 17%,rgba(255,255,211,1) 77%,rgba(254,255,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(119,135,153,1) 0%,rgba(194,205,214,1) 17%,rgba(255,255,211,1) 77%,rgba(254,255,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778799', endColorstr='#feffd1',GradientType=0 ); /* IE6-9 */

}

button {
  background-color: $gitGray;
  border: none;
}

//all things footer related found below
footer {
  text-align: center;
  font-size: 12px;
  img.footerIcon {
    // display: block;
    margin-left: $auto;
    margin-right: $auto;
  }
}

.footerContain {
  height: 10px;
}

.copyright {
  float: left;
}

.myGitLink {
  float: right;
}
